[Unit]
Description=Auto Login Service
After=systemd-user-sessions.service

[Service]
ExecStart=-/sbin/agetty --autologin root --noclear tty1 $TERM
Type=idle

[Install]
WantedBy=getty.target
